/* 
********************************** MAIN STYLES ******************************* */
*{
    margin: 0;
    padding: 0;
}

a :link {
    color: #255ebd;
}
a :visited {
    color: #fb1717;
}
address {
    margin-top: 1em;
    padding-top: 1em;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    color: #7c7881;
}
body {
    color: black;
    background-color:  #ffffff;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    color: #7c7881;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #7c7881;
    text-align: center;
    position: relative;
}
p {
    font-size: 1em;
    font-weight: bold;
    color: #7c7881;
    text-align: center;
    /* position: relative; */
}

nav {
    position: relative;
    z-index: 2;
  } 
  
.menu_restaurante {
    color: #ffffff;
    padding-left: 0.5em;
    top: 16em;
    width: 50em;
    position: absolute;
    float: left;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    margin: 20px;
}

.banner-up {
    overflow: hidden;
    position: relative;
}
  
.banner {
    display: block;
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    object-fit: cover; 
    object-position: top center; 
    background-repeat: repeat-x;
  }
  
#logo_mimrodel {
    margin-top: 3rem;
    position: absolute;
    top: 20px;
    z-index: 1;
}


/* 
********************************** STYLE FORMS  ******************************* */ 
#form_1, #form_2 { 
    margin: auto;
    padding: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #303030;
    color: #ccc;
    align-content: center;
    width: 700px;
    opacity: 1;
    display: block;
    height: auto;
    border-radius: 2%;
    text-align: center;
}

/* 
********************************** CAROUSEL VINO ******************************* 
*/

.carousel {
    border: 15px solid #ccc;
    background-color: #303030;
    color: #ccc;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 400px
}

.carousel img{
    height: 3rem;
    width: auto;
}

#carousel_slider {
    max-width: 100%;
    margin: 0 auto;
}

#no-markers{
    list-style: none;
}

/* 
********************************** CAROUSEL SOMOS NOSOTROS ******************************* 
*/

#nimrodel_carousel {
    border: 15px solid #ccc;
    background-color: #303030;
    color: #ccc;
    margin: 0 auto;
    max-width: 800px;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 100;
    width: 80%;
    height: 80%;
    text-align: center;
    justify-content: center;
    padding: 2%;
    display: none;
    overflow: hidden;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
    height: 600px;
    width: 600px;
}

#no--markers {
    list-style: none;
}
   
#carousel_slider_nimrodel button {
    display: block;
    margin: 0 auto;
}
  

#carousel_slider_nimrodel .carousel-control-prev,
#carousel_slider_nimrodel .carousel-control-next {
    width: 0;
  }

#carousel_slider_nimrodel .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
#carousel_slider_nimrodel .carousel-caption h5 {
    margin-bottom: 1rem;
}
  
  
.carousel-caption {
    font-size: 2rem;
}

#cierre__carousel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

#nimrodel_carousel .carousel-control-prev, 
#nimrodel_carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

#nimrodel_carousel .carousel-control-prev {
  left: 0;
}

#nimrodel_carousel .carousel-control-next {
  right: 0;
}



/* 
********************************** STYLE FOOTER ******************************* 
*/

#footerphoto {
    text-align: center;
    max-width: 100%; 
    margin-top: 300px;
    height: 1500px; 
    background-size: cover;
    background-image: url("img/layout/fondo.jpg");
}

.img-fluid {
    max-width: 100
}

.DR {
    text-align: center; 
}

.footer_nimrodel {
    display: block;
    margin-top: 10%;   
}

@media (max-width:650px) {

    #formpaginas{
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .card {
        margin:  auto;
        width: 100%;
    }

    .carousel-inner img {
        height: 300px;
    }
    
}